<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- since log might be messed up, it writes thread number ([%thread])
                 e.g: "[TestNG-tests-1]"-->
            <PatternLayout pattern="%d{ABSOLUTE} %level{length=5} [%thread] %logger{1} - %msg%n"/>
        </Console>

        <!--parallel logging-->
        <Routing name="ThreadRoute">
            <Routes pattern="$${ctx:threadId}">
                <Route>
                    <RollingFile
                            name="RollingFile-${ctx:threadId}"
                            fileName="${logDir}/last-${ctx:threadId}.log"
                            ilePattern="${logDir}/%d{yyyy-MM-dd}/archived_%d{HH-mm}-${ctx:threadId}.log">
                        <PatternLayout pattern="${ABSOLUTE}"/>
                        <Policies>
                            <OnStartupTriggeringPolicy/>
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>